<form #f="ngForm">
  <!--<fieldset>-->
    <!--<legend>Добавить студента</legend>-->
  <!--</fieldset>-->
  <!--<div class="row">-->
    <!--<div class="col-12 col-sm-6">-->
      <!--<app-input-field name="firstName"-->
                       <!--placeholder="Имя"-->
                       <!--[(ngModel)]="student.firstName"-->
                       <!--[required]="true"></app-input-field>-->
    <!--</div>-->
    <!--<div class="col-12 col-sm-6">-->
      <!--<app-input-field name="lastName"-->
                       <!--placeholder="Фамилия"-->
                       <!--[(ngModel)]="student.lastName"-->
                       <!--[required]="true"></app-input-field>-->
    <!--</div>-->
  <!--</div>-->

  <!--<button mat-button-->
          <!--[disabled]="!form.valid"-->
          <!--color="primary"-->
          <!--(click)="addStudent()">Добавить-->
  <!--</button>-->
<div>
  <app-data-table></app-data-table>
</div>


</form>
